/* modules/shop-resume
--------------------------------------*/

.ls-shop {
	float: right;
	margin: 0 0 0 15px;
	padding: 0;
	list-style: none;

	li {
		display: inline-block;
		float: left;
	}

	li + li {
		margin-left: 5px;
	}
}

.shop-resume {
	padding-left: 5px;
	line-height: 38px;
	
	a {	
		font-family: $font-bold;
		text-transform: uppercase;
		color: $logo-color;	
		
		&:hover { 
			color: lighten( $logo-color, 20% );
			text-decoration: none; 
		}
	}
}
