/* base/variables
--------------------------------------*/

/* Colors
--------------------------------------*/

$lightness: 		#fff;
$positive: 			#4cb1ca;
$calm: 				#bff2ff;
$balanced: 			#7db122;
$darkness: 			#635f57;
$logo-color: 		#656565;
$base-color: 		#696969;
$footer-inner-bg: 	#39a0b9;
$footer-bg: 		#0b4b5a;
$link-color: 		#9ae2f4;


/* Type
--------------------------------------*/

$font-bold: 	'Open Sans Bold', Helvetica, Arial, sans-serif;
$font-regular: 	'Open Sans', Helvetica, Arial, sans-serif;


/* Susy settings
--------------------------------------*/

$total-columns: 4;             // a 12-column grid
$column-width: 	14.563em;            // each column is 4em wide
$gutter-width: 	1.875em;            // 1em gutters between columns
$grid-padding: 	0;  // grid-padding equal to gutters


/* Button
--------------------------------------*/


/* Checbox
--------------------------------------*/


/* Card
--------------------------------------*/


/* Bars
--------------------------------------*/


/* Menu:
--------------------------------------*/